.photo-banner {
    height: 20vh;
    width: 100%;
}

nav {
    background-color: #212121;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Titillium Web' sans-serif;
}
.brand-logo{
    font-family: 'Titillium Web' sans-serif;
    font-weight: 600;
}
.col {
    margin-top: 1%;
}

.col img {
    max-width: 100%;
    height: 100%;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the color and opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.caption {
    position: absolute;
    z-index: 2;
    font-size: 500%;
    font-family: 'Bebas Neue' sans-serif;
    font-weight: 600;
}

.content {
    background-color: #e0e0e0;
    padding-bottom: 8%;
    margin-bottom: 4%;
    border-radius: 10%;
    
}

.icon {
    height: 69%;
    width: 69%;
    filter: grayscale(100);
}
h2{
    font-family: 'Titillium Web' sans-serif;
    font-weight: 600;
}
h5{
    font-family: 'Bebas Neue' sans-serif;
    font-weight: 400;
}

@media (min-width: 1201px) {
    .caption {
        font-size: 60px;
    }

    .slider {
        height: 10%;
    }
}
@media (max-width: 1200px) {
    .caption {
        font-size: 60px;
    }

    .slider {
        height: 10%;
    }
}
@media (max-width: 992px) {
    .caption {

    }
}
@media (min-width: 601px) and (max-width: 782px) {
    .caption {
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    .caption {
        font-size: 30px;
    }

    .col img {
        max-width: 50%;
        height: 50%;
    }
}
@media (min-width: 1430px) {
    .caption {
        font-size: 80px;
    }

    .slider {
        height: 10%;
    }
}